@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@
@(message: String)

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Welcome to Play") {

   <h1>LunchVote</h1>

   <div id="app">
      <template v-if="state === 'nominate'">
         <h3>Nomination Phase</h3>
         <ul>
            <li v-for="item in nominations">{{item}}</li>
         </ul>
         <label>Submit an idea: </label><input type="text" id="nom" v-on:keydown.enter="submit">
      </template>
      <template v-else-if="state === 'vote'">
         <h3>Voting</h3>
      </template>

      <br><br>
      <pre>{{status}}</pre>

   </div>

}
